* {
    font-family: 'Courier New', Courier, sans-serif;
}

main {
    background-color: #FCE3E3;
    padding: 4%;
    margin: auto;
    width: 500px;
    border-radius: 8%;
    box-shadow: 10px 10px 25px #0e4470;
}

body {
    background-image: linear-gradient(to bottom, #FCE3E3, #0089F6, #FF62BB);
    background-attachment: fixed;
}

h1 {
    text-shadow: 2px 2px 1px ;
    text-align: center;
    color: #0089F6;
}

h2 {
    color: #FF62BB;
}

p {
    text-align: justify;
}